<div >
    <!-- <div class="container" *ngFor="let obj of favoriteImages">
        <img src="{{obj.thumbnail}}"  class="image" style="width:85%;height:85%" (click)="getImage(obj.thumbnail)">
        
    </div> -->
    List 1
     <div class="container" *ngFor="let obj of favoriteImages.favor1">
        <a href="{{obj.link}}" target="_self" download>
            <img src="{{obj.thumbnail}}" class="image" style="width:85%;height:85%">
        </a>
    </div>
    <br>
    List2
    <div class="container" *ngFor="let obj2 of favoriteImages.favor2">
        <a href="{{obj2.link}}" target="_self" download>
            <img src="{{obj2.thumbnail}}" class="image" style="width:85%;height:85%">
        </a>
    </div>

</div>
