
.flex-container{
    display: content !important;
    flex-wrap: wrap;
    width:84% !important;
    height:84% !important;
    margin-top:2%;
}

.container {
  position: relative;
  width: 25%;
  cursor:pointer;
  margin-bottom:1%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.list-title {
  font-family:"Open Sans", "Helvetica Neue", sans-serif;
}

